[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-email = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-mail = "*"
flask-login = "*"
pillow = "*"
flask-whooshee = "*"
flask-sslify = "*"
gunicorn = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
jieba = "*"
flask-whooshalchemyplus = "*"
faker = "*"
sendgrid = "*"

[dev-packages]
watchdog = "*"
faker = "*"
