{% if categories %}
<div class="card border-secondary mb-3">
  <h3 class="card-header"><span class="glyphicon glyphicon-folder-open"></span></h3>
 
  <ul class="list-group list-group-flush">
  	{% for category in categories %}
  	<li class="list-group-item d-flex justify-content-between align-items-center">
      <a href = "{{ url_for('blog.by_category',category_id = category.id) }}">{{ category.name }}</a>
      <span class="badge badge-primary badge-pill">{{category.posts | length }}</span>
    </li>
  	{% endfor %}
  </ul>
</div>
{% endif %}

<div class="card border-secondary mb-3">
  <h3 class="card-header">预留位置</h3>
  <ul class="list-group list-group-flush">
  		<li class="list-group-item d-flex justify-content-between align-items-center"><a href = "#">啥都没有</a><span class="badge badge-primary badge-pill">999</span></li>
  		<li class="list-group-item d-flex justify-content-between align-items-center"><a href = "#">真的啥都没有</a><span class="badge badge-primary badge-pill">666</span></li>
  </ul>
</div>