{% if categories %}
<div class="card border-secondary mb-3">
  <h3 class="card-header"><span class="glyphicon glyphicon-folder-open"></span></h3>
 
  <ul class="list-group list-group-flush">
  	{% for category in categories %}
  	<li class="list-group-item d-flex justify-content-between align-items-center">
      <a href = "{{ url_for('blog.by_category',category_id = category.id) }}">{{ category.name }}</a>
      <span class="badge badge-primary badge-pill">{{category.posts | length }}</span>
    </li>
  	{% endfor %}
  </ul>
</div>
{% else %}
<div class="card border-secondary mb-3">
  <h3 class="card-header"><span class="glyphicon glyphicon-folder-open"></span></h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href = "#">暂无分类。</a>
    </li>
  </ul>
</div>
{% endif %}



{% if near_three_day_posts %}
<div class="card border-secondary mb-3">
  <h3 class="card-header">近期文章：<span class="badge badge-primary badge-pill">{{ near_three_day_posts | length }}</span></h3>
  <ul class="list-group list-group-flush">
    {% for every_near_three_day_post in near_three_day_posts %}
  		<li class="list-group-item d-flex justify-content-between align-items-center"><a href = "{{ url_for('blog.show_post',post_id = every_near_three_day_post.id) }}">{{ every_near_three_day_post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="card border-secondary mb-3">
 <h3 class="card-header">近期文章</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href = "#">近三天无文章。</a>
    </li>
  </ul>
</div>
{% endif %}